# MacOS
.DS_Store

# FreeSurfer license file
Dockerfiles/HCPpipelines/license.txt

# MATLAB license file
Dockerfiles/HCPpipelines/license.lic
Dockerfiles/HCPpipelines/matlab-fik.txt
Dockerfiles/HCPpipelines/matlab_R*.zip
