bzip2-devel
cairo-devel
fribidi-devel
freetype-devel
gcc
gcc-c++
gcc-gfortran
git
harfbuzz-devel
java-1.8.0-openjdk-devel
libpng-devel
libtiff-devel
libjpeg-turbo-devel
libcurl-devel
libgit2-devel
libX11-devel
libxml2-devel
libXt-devel
make
openssl-devel
pandoc
patch
pcre-devel
python3.8
R
readline-devel
xz-devel
wget
zlib-devel
