bzip2-devel
cairo-devel
cmake
fribidi-devel
fontconfig-devel
freetype-devel
gcc
gcc-c++
gcc-gfortran
git
harfbuzz-devel
java-1.8.0-openjdk-devel
libpng-devel
libtiff-devel
libjpeg-turbo-devel
libjpeg-devel
libwebp-devel
libcurl-devel
libgit2-devel
libX11-devel
libxml2-devel
libXt-devel
make
openssl-devel
pandoc
patch
pcre-devel
pkg-config
python3.8
R
readline-devel
xz-devel
wget
zlib-devel
v8-devel
